<div class="container">

	<h1>Entries#index</h1>
	<%= flash_message %>

	<h2><%= @project.name %></h2>
	<p><%= @project.description %></p>

	<h3>Entries:</h3>
	<p><%= link_to("New entry", new_project_entry_path(@project)) %></p>
	<dl>
		<% @entry.each do | entry | %>
		<dt><%= entry.hours %>h <%= entry.minutes %>m</dt>
		<dd><%= entry.comment %></dd>
		<dd>Fecha: <%= entry.date %></dd>
		<dd><%= link_to("Edit", edit_project_entry_path(@project.id, entry)) %></dd>
		<% end %>
	</dl>

	<p>Total hours: <%= total_hours %></p>
	

</div><!-- /.container -->
