<h1>Listing movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Synopsis</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <%= content_tag_for(:tr, @movies) do |movie| %>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.synopsis %></td>
        <td><%= link_to 'Show', movie %></td>
        <% if policy(movie).edit? %>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <% end %>
        <% if policy(movie).destroy? %>
          <td><%= link_to 'Destroy', movie, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
