<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>

  <% if @movie.people.empty? %>
  <strong> No people in here</strong>
  <% else %>
    <strong>People:</strong>
    <ul>
      <% @movie.casts.each do |c| %>
        <li>
          <%= c.person.complete_name %>
          (
          <%= c.role.titleize %>
          )
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<% if policy(Vote.user(current_user).movie(@movie).find_or_initialize_by({})).save? %>
  <div id="voting_system" class="js-rating-container">
    <%= link_to "I liked it!", movie_thumbs_up_path(@movie), class: 'js-rate' %>
    |
    <%= link_to "I didn't like it!", movie_thumbs_down_path(@movie), class: 'js-rate' %>
  </div>
<% end %>

<h4>Comments</h4>
<%= render @movie.comments %>

<% if policy(@movie.comments.build).create? %>
<div>
<button id="comment_form_button">Show form</button>
<div id='comment_form'> <h4>Add a comment:</h4>
  <%= render 'comments/form' %>
</div>
</div>
<% end %>

<%= link_to 'Add cast', movie_new_cast_path(@movie) %> |
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
