<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<%= flash_message %>
		<%= challenge_errors %>

		<%= form_for [@challenge] do |f| %>
			<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title %>
			</div>
			<div class="form-group">
			<%= f.label :description %><br>
			<%= f.text_area :description, size: "60x12" %>
			</div>
			<%= f.submit "Save", class: "btn btn-default" %>
			<%= link_to('Cancel', challenges_path, class: "btn btn-default") %>
		<% end %>
	</div>
</div>