<!DOCTYPE html>
<html>
<head>
  <title>Challenges</title>
  <%= stylesheet_link_tag 'components/bootstrap/dist/css/bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<%= render 'layouts/partials/header' %>
	<%= yield %>
	<%= render 'layouts/partials/last_challenges' %>
	<%= render 'layouts/partials/footer' %>
</div>

</body>
</html>
